<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../components/head')%>
</head>
<body>
    <header class="container">
        <%- include('../../components/header') %>
    </header>

    <main>
        <form action="/tasks/component_generator/generate" method="get">
            <input type="text" name="combo_name" id="combo_name" autofocus>
            <input type="submit" name="submit" id="submit" value="Generate">
        </form>

        <table>
            <tr>
                <% for(let i=0; i<fields.length; i++){ %>
                    <th><%= fields[i].name %></th>
                <% } %>
            </tr>

            
                <% for(let j=0; j<result.length; j++) {%>
                    <tr>
                    <% for(let i=0; i<fields.length; i++){ %>
                        <td><%= result[j][fields[i].name] %></td>
                    <% } %>
                    </tr>
                <% } %>
                
            
        </table>
    </main>
    <footer>
        <%- include('../components/footer')%>
    </footer>
</body>
</html>