
<div class="d-flex container gap-3 justify-content-around my-3">
<select class="form-select w-50" id="selector" name="month" id="month" onchange="changeMonth(value)"  >
    <option value="12">December 2023</option>
    <option value="1">January 2024</option>
    <option value="2">Februry 2024</option>
</select>


    <a href="/tasks/attendence_result/?month=<%= month%>&page=1" <% if(page==1){ %> style="pointer-events: none" <% } %>><input class="btn btn-warning" type="button" value="&larrb;" <% if(page==1){ %> disabled= 'true' <% } %>></a>
    <a href="/tasks/attendence_result/?month=<%= month%>&page=<%=page-1%>" <% if(page==1){ %> style="pointer-events: none" <% } %> ><input class="btn btn-warning" type="button" value="&larr;" <% if(page==1){ %> disabled= 'true' <% } %>></a>
    <input class="form-control" type="text" value="<%= page%>" onchange="changePage(value)">
    <a href="/tasks/attendence_result/?month=<%= month%>&page=<%= no_of_records-(no_of_records-page-1)%>" <% if(page==250){ %> style="pointer-events: none" <% } %> ><input class="btn btn-warning" type="button" value="&rarr;" <% if(page==parseInt(total_data/no_of_records)){ %> disabled= 'true' <% } %>></a>
    <a href="/tasks/attendence_result/?month=<%= month%>&page=<%= parseInt(total_data/no_of_records)%>" <% if(page==250){ %> style="pointer-events: none" <% } %>><input class="btn btn-warning" type="button" value="&rarrb;" <% if(page==parseInt(total_data/no_of_records)){ %> disabled= 'true' <% } %>></a>
</div>

<script>
    let selector = document.querySelector('#selector');
    selector.value=`<%= month %>`

    function changeMonth(value){
        window.location.href = "/tasks/attendence_result/?month="+value+"&page=1";
    }

    function changePage(value){
        window.location.href = "/tasks/attendence_result/?month=<%=month%>&page="+value;
    }
</script>